<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <!-- You'll want to use a responsive image option so this logo looks good on devices - I recommend using something like retina.js (do a quick Google search for it and you'll find it) -->
            <a class="navbar-brand" href="#/">
                <img class="logo" src="img/logo.png" />
                <!-- KHI: Kinetic Human Interface -->
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a scroll-to-item scroll-to="#khi">Sobre Khi</a>
                </li>
                <li><a scroll-to-item scroll-to="#producto">Producto</a>
                </li>
                <li><a scroll-to-item scroll-to="#caracteristics">Características</a>
                </li>
                <li><a scroll-to-item scroll-to="#equipo">Equipo</a>
                <li> <select ng-model="Main.partialId">
                        <option value="home">Español</option>
                        <option value="home_en">Inglés</option>
                    </select>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<p class="sticky" style="width: 140px;">
  <strong>
 <a href="https://docs.google.com/forms/d/1LwKimpNi0BEFp1FMmQL6SG3d7XUaABacn-3gcVdUj9U/viewform">Contesta nuestra encuesta</a></strong>
</p>
<div class="bg-grad"><div class="clouds">
    <div class="cloud x1"></div>
</div>
<div class="bg-layer color-1 on"></div>
<div class="bg-layer color-2"></div>
<div class="bg-layer color-3"></div>
<div class="bg-layer color-4"></div>
<div class="bg-layer color-5"></div>
<div class="bg-layer color-6"></div></div>

<div id="content">
    <!-- Intro Header -->
    <section class="intro section-1 color-1">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <h1 class="brand-heading">¿HACES EJERCICIO EN TU TIEMPO LIBRE?</h1>
                        <p class="intro-text">Es hora de transformar tu smarthphone en tu entrenador personal</p>
                        <!--<a href="#" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>-->
                        <div class="buttons-rombo">
                        <a scroll-to-item scroll-to="#khi" id="diamond"><p>Conoce KHI<i class="fa fa-angle-double-down fa-5x"></i></p>
                        </a>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section id="khi" class="info container content-section text-center section-2 color-2">
        <div class="row info">
            <div class="col-lg-8 col-lg-offset-2 bg-content">
                <img src="img/logo.png">
                <p>KHI es un <b>Implemento deportivo</b> que detecta los movimientos del cuerpo y los procesa, generando información para que el <b>DEPORTISTA</b> pueda <b>optimizar su práctica deportiva</b>, corregir errores, aprender a realizar el ejercicio de forma correcta  y <b>evitar lesiones</b>. 
</p>
                <p> KHI entrega alertas al usuario de forma inmediata para corregir el ejercicio, sin necesidad de un entrenador. Almacena los datos para ser analizados por un especialista o simplemente para estadísticas personales. </p>

                <p>Si te interesa KHI, puedes aportar contestando <a href="https://docs.google.com/forms/d/1LwKimpNi0BEFp1FMmQL6SG3d7XUaABacn-3gcVdUj9U/viewform">nuestra encuesta acá</a>.</p>
            </div>
        </div>
    </section>

    <!-- Download Section -->
    <section id="producto" class="product content-section text-center section-3 color-3">
        <div class="nice-section">
            <div class="container">
                <div class="col-lg-8 col-lg-offset-2 bg-content desc">
                    <img src="img/body.png"></img>
                    <div class="column">
                    <p><i class="fa fa-check-circle"></i> Actualmente, Khi se encuentra en la fase de prueba de conceptos e iteración en prototipos.</p>
                    <p><i class="fa fa-check-circle"></i> Khi recibe el apoyo de los departamentos de kinesiología e ingeniería en biomedicina de la Pontificia Universidad Católica de Chile durante su desarrollo.
                    </p>
                    <p><i class="fa fa-check-circle"></i> Proyecto ganador del Geek Camp 2014.
                    </p>
                </div>

                </div>
            </div>
        </div>
    </section>

        <section id="benefits" class="benefits content-section text-center section-5 color-5">
        <div class="nice-section">
            <div class="container">
                <div id="benefit_desc" class="col-lg-8 col-lg-offset-2 bg-content desc">
                    <div class="feature">
                        <i class="fa fa-trophy fa-5x icon"></i>
                        <h3>Vuelve a Entrenar</h3>
                        <p>Realiza actividad física de forma segura, constante y a bajo costo.</p>
                    </div>
                    <div class="feature selected">
                        <i class="fa fa-heartbeat fa-5x icon selected"></i>
                        <h3>Evita Lesiones</h3>
                        <p>El entrenamiento guiado reduce el riesgo de lesiones por malas posturas y ayuda a mejorar tu desempeño.</p>
                    </div>
                    <div class="feature">
                        <i class="fa fa-connectdevelop fa-5x icon"></i>
                        <h3>Sesiones Informadas</h3>
                        <p>Encuentra tu ritmo adecuado y aprende sobre las rutinas que realizas.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="equipo" class="container content-section text-center section-4 color-4">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 ">
                <h2>Equipo </h2>
                <ul class="list-inline banner">
                    <li>
                        <img src="img/pietro.png" class="team"></img>
                        <p>Pietro Rivera</p>
                        <p>Co-fundador</P>
                    </li>
                    <li>
                        <img src="img/mariano.png" class="team"></img>
                        <p>Mariano Lucas</p>
                        <p>Co-fundador</P>
                    </li>

                </ul>
            </div>
        </div>
    </section>
</div>

<!-- /.container -->
