<div id="content">

    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>
                <i class="fa fa-connectdevelop fa-1x icon"></i>
                Search Fb stats</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" placeholder="Search" ng-model="url" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" ng-click="getStats(url)" value="action">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="block row">
  <div class="title"><h4>Select your CSV file: </h4></div>
  <div class="block right">
    <ng-csv-import 
      class="import"
      content="csv.content"
      header="csv.header" 
      header-visible="csv.headerVisible" 
      separator="csv.separator"
      separator-visible="csv.separatorVisible"
      result="csv.result"
      encoding="csv.encoding"
      encoding-visible="csv.encodingVisible"
       accept="csv.accept"></ng-csv-import>
  </div>
</div> 

<div class="block row"  ng-if="csv.result">
    <div class="" ng-controller="Downloadctrl" ng-init="init(csv.result)">


      <button class="btn btn-default btn btn-info btn-lg"
              ng-csv="results" lazy-load="true" filename="{{ filename }}.csv" field-separator="{{separator}}" csv-header="['url', 'share_count','like_count', 'comment_count', 'total_count', 'commentsbox_count']"
              ><i class="glyphicon glyphicon-download"></i>
              Export to CSV </button>
      <button class="btn btn-default btn btn-warning btn-lg"
              ng-csv="errors" lazy-load="true" filename="errores.csv" field-separator="{{separator}}" csv-header="['url', 'share_count','like_count', 'comment_count', 'total_count', 'commentsbox_count']"
              ><i class="glyphicon glyphicon-download"></i>
              Export Errors </button>

    </div>
  <div class="content" hljs source="toPrettyJSON(csv.result, 2)"></div>
</div>

<!-- /.container -->
